<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="ISO-8859-1">
	<title>Compras</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/miestilo.css}"> 
	
</head>

<body>
	
		<div class="container">
			<header th:replace="layout/header :: header"></header>
				<div class="row " >
					<section class="col-md-9 bg-dark">
						<div class="btn btn-light">
							<a th:href="@{/cuenta/listado}">Nuevo</a>			
						</div>
						
						<div class="titulo01 text-center text-white">
							<h3>CREA UNA NUEVA CUENTA</h3>
						</div>
						
						<form th:action="@{/cuenta/guardar}" th:object="${cuenta}" method="post" >
								
						<div class="form-group row">
					    	<label for="saldoCuenta" class="col-md-4 col-form-label text-white">Saldo de la Cuenta</label>
					    	<div class="col-md-8">
					      		<input type="number" class="form-control" id="saldoCuenta" th:field="*{saldo}">
					    	</div>
					    	<div class="form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('saldo')}" th:errors="*{saldo}"></div>
					  	</div>
					  	
					  	<div class="form-group row">
					    	<label for="fechaCreacion" class="col-md-4 col-form-label text-white">Fecha Creacion</label>
					    	<div class="col-md-8">
					      		<input type="date" class="form-control" id="fechaCreacion" th:field="*{fechaCreacion}">
					    	</div>
					    	<div class="form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('fechaCreacion')}" th:errors="*{fechaCreacion}"></div>
					  	</div>
					  	
					  	<fieldset class="form-group row">
						    <legend class="col-form-label col-md-4 float-md-left pt-0 text-white">Estado de Cuenta</legend>
						    <div class="col-md-8">
						      <div class="form-check">			      	
						        <input class="form-check-input text-white" type="radio" name="gridRadios" id="gridRadios1" value="ACTIVA" th:field="*{estado}">
						        <label class="form-check-label text-white" for="tipoDocumento">
						          ACTIVA
						        </label>
						      </div>
						      
						      <div class="form-check">
						        <input class="form-check-input text-white" type="radio" name="gridRadios" id="gridRadios2" value="INACTIVA" th:field="*{estado}">
						        <label class="form-check-label text-white" for="tipoDocumento">
						          INACTIVA
						        </label>
						      </div>
						    </div>
						    <div class="form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></div>
						    
						</fieldset>
	
						<button type="submit" class="btn text-white btn-primaty bt-sm">Enviar</button>
						
						</form>

					</section>
					<aside th:replace="layout/publicidad :: publicidad"></aside>
				</div>	
			<footer th:replace="layout/footer :: footer"></footer>
		</div>

 <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/popper.min.js}"></script>
 <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</body>

</html>