<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Formulario</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/miestilo.css}"> 
</head>
<body>

	<div class="container">
		<header th:replace="layout/header :: header"></header>
			<div class="row " >
				<section class="col-md-9 bg-dark">
				
					<div class="titulo01 text-center text-white">
						<h3>FORMULARIO DE ALTA DE PRODUCTOS</h3>
					</div>
	
							<form action="/producto/guardar" th:object="${producto}" method="post">
							
										<div class="text-white">
										<label for="txtNombre">Nombre del Producto</label>
										<input id="txtNombre" type="text" th:field="*{nombre}"/>
										<div class="form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
										<br></br>
										<label>Codigo del Producto</label>
										<input type="number" th:field="*{codigo}"/>
										<div class="form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
										<br></br>
										<label>Marca del Producto</label>
										<input type="text" th:field="*{marca}"/>
										<div class="form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}"></div>
										<br></br>
										<label>Precio del Producto</label>
										<input type="number" th:field="*{precio}"/>
										<div class="form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
										<br></br>
										<label>Stock del Producto</label>
										<input type="number" th:field="*{stock}"/>
										<div class="form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></div>						
							      		<br></br>
							      		<input type="submit" value="Enviar">
							      		</div>
							 </form>	
						 
						</section>
					<aside th:replace="layout/publicidad :: publicidad"></aside>
				</div>	
			<footer th:replace="layout/footer :: footer"></footer>
		</div>	
</body>
</html>